<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 메시지 작성</title>
    <link rel="stylesheet" th:href="@{/css/add.css}">
</head>
<body>
    <div class="container">
        <h1>새 메시지 작성</h1>
        <form id="messageForm" th:action="@{/foods}" method="post">
            <label for="message">메시지:</label>
            <input type="text" id="foodname_id" name="foodname" required>
            <input type="text" id="fooddetail_id" name="fooddetail" required>
            <input type="text" id="foodimage_id" name="foodimage" required>
            
            <button type="submit">메시지 보내기</button>
        </form>
    </div>
    
    <!--script th:inline="javascript">
    	var contextPath = /*[[@{/}]]*/'';
    </script-->
    <script th:src="@{/js/add.js}"></script>
</body>
</html>