<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.mini_bobjo.BookMapper">
    <select id="getBookTitle" parameterType="string" resultType="com.mysite.mini_bobjo.Book">
        SELECT * FROM books 
    </select>
    <select id="searchTitle" resultType="com.mysite.mini_bobjo.Book">
        SELECT * FROM books WHERE (title LIKE CONCAT('%', #{keyword}, '%'))
    </select>
    <select id="searchAuthor" resultType="com.mysite.mini_bobjo.Book">
        SELECT * FROM books WHERE (author LIKE CONCAT('%', #{keyword}, '%'))
    </select>
    <select id="getbookid" resultType="com.mysite.mini_bobjo.Book">
        SELECT * FROM books WHERE id = #{keyword}
    </select>
    <insert id="addBook" parameterType="com.mysite.mini_bobjo.Book">
        INSERT INTO books (title, author, year, detail)
        VALUES (#{title}, #{author}, #{year}, #{detail})
    </insert>
    <delete id="deletebook" parameterType="java.util.List">
        DELETE FROM books WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getAllBooksPaged" resultType="com.mysite.mini_bobjo.Book">
        SELECT * FROM books
        ORDER BY id DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 전체 책 개수 카운트 쿼리 -->
    <select id="countBooks" resultType="int">
        SELECT COUNT(*) FROM books
    </select>

    
</mapper>
