<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.mini_bobjo.BookMapper">
    <select id="getBookTitle" parameterType="string" resultType="com.mysite.mini_bobjo.Book">
        SELECT * FROM List where title = #{title}
    </select>
</mapper>
